/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: none;
    text-decoration: none;
}

h1 {
    font-family: Rubik, sans-serif;
}

h2, h3, h4 {
    font-family: Rubik, sans-serif;
}

p {
    font-family: Roboto, sans-serif;
}

/* Rules */

.rules-outer > h2 {
    text-align: center;
}

.rules {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
}

.img-rules {
    height: 4rem;
    padding: 10px;
}